*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL RULES */
body{
  font-family: 'Noto Sans', sans-serif;
}

.flex{
  display: flex;
}




.menu{
  position: fixed;
  z-index: 999;
  margin: 0%;
  width: 100%;
  height: 60px;
  background-color: #FF6900;
}
header .menu.flex{
  justify-content: space-around;
  align-items: center;
}
.link-menu a img{
  width: 150px;
}
header a{
  text-decoration: none;
  color: white;
}

/* MAIN RULES */
.card{
  position: relative;
}
.sconto{
position: absolute;
bottom: 40px;
left: 0;

}
.sostenibilità{
  position: absolute;
  bottom: 40px;
  left: 50px
}
.heart{
  position: absolute;
  top: 0px;
  right: 20px;
}

main{
  padding-top: 60px;
}
.container{
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card img{
  width: 350px;
  height: 500px;
}

